.AddButton {
  padding: 1rem 5rem;
  background-color: #0aec1c;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    background-color: #ff0000;
    opacity: 0.5;

    &:hover {
      background-color: #a00000;
    }
  }

  &:hover {
    background-color: #03870e;
  }
}

.BorderRadius {
  border-radius: 2rem;
}
