.CartProduct {
  margin-bottom: 2rem;
  width: 100%;
  height: 10rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  padding: 1rem 0;

  font-size: 1.6rem;
}

.Image {
  height: 100%;
  flex: 1 1 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
  }
}

.Body {
  flex: 1 1 40%;
}

.Quantity {
  flex: 1 1 20%;
}

.Price {
  flex: 1 1 10%;
}

.Details {
  flex: 1 1 10%;
}
