.DropDown {
  list-style: none;
  background: #2d2d2d;

  width: 150%;
  padding: 1rem 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  position: absolute;
  margin-top: 1rem;
  left: 0;
}

.Show {
  opacity: 1;
  visibility: visible;
}

.NavigationDropdownItem {
  position: relative;

  a {
    text-decoration: none;
    color: #d1d1d1;
    font-size: 2rem;
    margin: 0 1.5rem;
    padding: 0.5rem 0;
    transition: all 0.3s;

    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid #03a7be;
    }
  }
}

.NavigationDropdownItem .active {
  border-bottom: 2px solid #03a7be;
}
