.Orders {
  align-self: flex-start;
  margin: 2rem 5rem;
  width: 100%;

  display: grid;
  grid-template-columns: 30rem 1fr;
}

.Title {
  grid-column: 1 / -1;
  justify-self: center;
  font-size: 3rem;
  margin-bottom: 5rem;
  padding: 2rem 10rem;
  border-bottom: 1px solid #03a7be;
}
