.Input {
  margin-bottom: 1rem;

  label {
    width: 15rem;
  }

  input {
    width: 30rem;
    margin-right: 2rem;
    padding: 0.5rem;
    border: 2px solid rgba(#2d2d2d, 0.3);
  }

  span {
    color: #ff0000;
    font-size: 1.4rem;
  }

  input {
    appearance: none;

    &:focus {
      outline: 0;
      border: 2px solid #03a7be;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .Error {
    border: 2px solid #ff0000;
  }
}

.Row {
  display: flex;
}

.Column {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
