.Input {
  margin-bottom: 1rem;
  label {
    width: 20rem;
  }

  input {
    width: 30rem;
    margin-right: 2rem;
    padding: 0.5rem;
    border: 1px solid #2d2d2d;
  }

  span {
    color: #ff0000;
    font-size: 1.4rem;
  }

  input {
    appearance: none;

    &:focus {
      outline: 0;
      border: 1px solid #03a7be;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .Error {
    border: 1px solid #ff0000;
  }
}
