.WishList {
  align-self: flex-start;
  width: 70%;
  height: 80vh;
  padding: 5rem;

  display: flex;
  flex-direction: column;

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.6rem;
    color: #2d2d2d;
  }
}

.Link {
  text-decoration: none;
  color: #2d2d2d;
}

.Content {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(10rem, 1fr));
  grid-gap: 1.5rem;
}

.Message {
  font-size: 1.8rem;
  grid-column: 1/-1;
  justify-self: center;
}

.Title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2rem 0;
}
